*{
	/*font-family: 'Raleway', sans-serif;*/
	/*transition-duration: 1s;*/
}

*{
	font-family: 'Nunito', sans-serif;
}

a, a:visited{
	color: white;
	text-decoration: none;
}

body{
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	border: 0;
}
ul{
	text-align: left;
}
.header{
	height: 83px;
	width: 100vw;
	background-color: white;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: flex;
}
.columns{
	display: flex;
	height: calc(100vh - 83px);
	width: 100%;
	text-align: center;
}
.column{
	transition: width 1s, height 1s;
	width: 20%;
	height: 100%;
	/*margin: 10px;
	border: solid white 15px;*/
	text-align: center;
	vertical-align: middle;
	position: relative;
	will-change: width,height;
}
.close_button{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 35px;
	color: white;
	cursor: pointer;
	display: none;
	transform: translate(0,-50%);
	top: 50%;
	margin-top: 0px !important;
}
/*.column:hover{
	transform: scale(1.05);
}*/
.ibeto{
	background-image: url('../imgs/5.jpg');
}
.column{
	background-position: center;
	background-size: cover;
	background-color:#0097A7;
	position: relative;
}
.event{
	background-image: url('../imgs/4.jpg');
}

.rules{
	background-image: url('../imgs/3.jpg');
}
.timeline{
	background-image: url('../imgs/2.jpg');
}
.contact{
	background-image: url('../imgs/1.jpg');
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	transition: opacity 1s;
	background: #020100; /* Old browsers */
}
.timeline{
	background-color:#027aDD;
}
.rules{
	background-color:#0277BD ;
}
.contact{
	background-color:#0091EA ;
}

.head{
	transition: 1s;
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Varela Round', sans-serif;
}
.points{
	text-align: left;
	display: inline-block;
}
.meclogo{
	width: 130px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
.excellogo{
	width: 130px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}
.ibetologo{
	width: 90px;
}
.header div{
	width: 33.3%;
	text-align: center;
	height: inherit;
}
.paramob{
	display: none;
}
.paramob h3{
	display: inline-block;
	margin: 0;
}
.paramob div{
	margin-top: 25px;
	margin-bottom: 25px;
}
.head{
	cursor: pointer;
}
.para{
	font-size: 19px;
	color: white;
	max-width: 900px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
.contentevent{
	width: 80%;
}
.contenttime{
	width: 60%;
	position: relative;
	font-size: 25px;
}
.image{
	height: 100px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-150%);
}
.contentrule{
	width: 80%;
}
.time{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-150%);
	display: inline-table;
}
.t1{
	left: 0;
}
.t2{
	left: 20%;
}
.t3{
	left: 40%;
}
.t4{
	left: 60%;
}
.t5{
	left: 80%;
}
.t6{
	left: 100%;
}
.line{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
}
.horline{
	display: none;
}
.desc{
	position: absolute;
	top: 50%;
	transform: translate(-50%,25px);
	width: 18%;
	font-size: 18px;

}
hr {
    border: none;
    height: 3px;
    color: #fff;
    background-color: #fff;
}
.verticalLine{
	display: none;
}
.contacts{
		display: flex;
}
.heads{
	margin: 20px;
}
.social *{
	color: white;
	margin: 20px;
}
.contenthead{
	position: relative;
}
@media(max-width: 768px){
	.close_button{
		color: black;
		margin-right: 30px;
		font-size: 30px;
	}
	.contenthead{
		position: relative;
		margin: 0;
		padding:10px 0px 10px 0px;
		width: 100%;
		background-color: #57667b;
	}
	.meclogo{
		margin-top: 17px;
		margin-left: 15px;
	}
	.excellogo{
		margin-top: 17px;
		margin-right: 15px;
	}
	.contenthead h2{
		color: white;
	}
	a{
		color: black !important;
	}
	.para{
		font-size: 10px;
		width: 90%;
		background: url('../imgs/pattern.png');
		background-repeat: repeat;
		background-position: center;
		left: unset;
		color: rgba(0,0,0,0.8);
		top: unset;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		max-width: unset;
		position: relative;
		padding: 0px 0px 20px 0px;
		transform: none;
		font-size: 15px;
	}
	.column:hover{
		transform: none;
	}
	.header img{
		width: 85px;
	}
	.columns{
		display: block;
		width: 100vw;
		height: calc(100vh - 83px);
	}
	.paradesk{
		display: none;
		width: 0;
		height: 0;
		margin: 0;
	}
	.column{
		width: 100%;
		margin: auto;
		padding: 0;
		height: 20%;
		overflow: auto;
	}
	.head {
		font-size: 20px;
	}
	.contacts{
		display: block;
	}
	.line{
		display: none;
	}
	.horline{
		display: block;
		font-size: 30px;
		letter-spacing: -4px;
	}

	.verticalLine {
	  	border-left: thick solid #ffffff;
	  	display: block;
	  	position: absolute;
	  	height: 83%;
	  	left: 50%;
	  	top: 14%;
	}
	.time{
		left:40%;
		transform: translate(-50%,220%);
	}
	.desc{
		left: 80%;
		width: 50%;
	}
	.descdiv{
		text-align: left;
	}
	.timediv{
		text-align: right;
	}
	.t1{
		top: 0;
	}
	.t2{
		top: 17%;
	}
	.t3{
		top: 34%;
	}
	.t4{
		top: 50%;
	}
	.t5{
		top: 67%;
	}
	.t6{
		top: 84%;
	}
	hr{
		display: none;
	}
	.image{
		height: 30px;
		left:27%;
		transform: translate(-50%,30%);
	}
	.contenttime{
		font-size: 15px;
		/*transform: translate(-50%,0);*/
	}
	.para p,.para li{
		margin-left: 15px;
		margin-right: 15px;
		color: rgba(0,0,0,0.8);
	}
	.social{
		display: flex;
		width: 100%;
		margin: auto;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.social *{
		margin: 10px;
	}
	.facebook i{
		color: #3b5998;
	}
	.gplus i{
		color: #d34836;
	}
	.insta i{
		color: #fb3958;
	}
	.heads{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
@media (max-width: 1400px) {
	.para{
		max-width: unset;
		font-size: 15px;
	}
}
