*{
	font-family: 'Raleway', sans-serif;
	transition-duration: 1s;
}

body{
	
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	border: 0;
}
a{
	color: indigo;
}
ul{
	text-align: left;
}
.header{
	height:13vh;
	width: 100vw;
	background-color: whitesmoke;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: flex;
}
.columns{
	display: flex;
	height: 90vh;
	width: 100%;
	text-align: center;
}
.column{
	width: 20%;
	height: 100%;
	/*margin: 10px;
	border: solid white 15px;*/
	
	text-align: center;
	vertical-align: middle;
	position: relative;
}
/*.column:hover{
	transform: scale(1.05);
}*/
.ibeto{
	background-color:#00897B ; 
}
.event{
	background-color:#0097A7; 
}
.timeline{
	background-color:#027aDD; 
}
.rules{
	background-color:#0277BD ; 
}
.contact{
	background-color:#0091EA ; 
}

.head{

	color: white;
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
}
.points{
	text-align: left;
	display: inline-block;
}
.meclogo{
	width: 150px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.excellogo{
	width: 150px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.ibetologo{
	width: 100px;
}
.header div{
	width: 33.3%;
	text-align: center;
	height: inherit;
}
.para{
	font-size: 18px;
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	display: none;
}
.contentevent{
	width: 85%;
}
.contenttime{
	width: 60%;
	position: relative;
	font-size: 25px;
}
.image{
	height: 100px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-150%);
}
.contentrule{
	width: 80%;

}
.time{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-150%);
	display: inline-table;
}
.t1{
	left: 0;
}
.t2{
	left: 20%;
}
.t3{
	left: 40%;
}
.t4{
	left: 60%;
}
.t5{
	left: 80%;
}
.t6{
	left: 100%;
}
.line{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;

}
.horline{
	display: none;
}
.desc{
	position: absolute;
	top: 50%;
	transform: translate(-50%,25px);
	width: 18%;
	font-size: 18px;

}
hr {
    border: none;
    height: 3px;
    color: #fff; 
    background-color: #fff; 
}
.verticalLine{
	display: none;
}
.contacts{
		display: flex;
}
.heads{
	margin: 20px;
}
@media(max-width: 768px){
	body{
		overflow-y: scroll;
	}
	.para{
		font-size: 10px;
		width: 85%;
	}
	.column:hover{
		transform: none;
	}
	.header img{
		width:40%;

	}
	.columns{
		display: block;
		width: 100vw;
	}
	.column{

		width: 100%;
		margin: auto;
		padding: 0;
		height: 20%;
	}
	.head {
		font-size: 20px; 
	}
	.contacts{
		display: block;
	}
	.line{
		display: none;
	}
	.horline{
		display: block;
		font-size: 30px;
		letter-spacing: -4px;
	}

	.verticalLine {
	  	border-left: thick solid #ffffff;
	  	display: block;
	  	position: absolute;
	  	height: 83%;
	  	left: 50%;
	  	top: 14%;
	}
	.time{
		left:40%;
		transform: translate(-50%,220%);
	}
	.desc{
		left: 80%;
		width: 50%;
	}
	.descdiv{
		text-align: left;
	}
	.timediv{
		text-align: right;
	}
	.t1{
		top: 0;
	}
	.t2{
		top: 17%;
	}
	.t3{
		top: 34%;
	}
	.t4{
		top: 50%;
	}
	.t5{
		top: 67%;
	}
	.t6{
		top: 84%;
	}
	hr{
		display: none;
	}
	.image{
		height: 30px;
		left:27%;
		transform: translate(-50%,30%);
	}
	.contenttime{
		left:40%;
		/*transform: translate(-50%,0);*/
	}
}
	